@use '../../../styles.scss' as global;

.apropos-container {
  background-color: global.$background;
  padding: global.$spacing-xl 0;
  display: flex;
  justify-content: center;
}

.apropos-card {
  @include global.card-style;
  max-width: 800px;
  text-align: center;

  h2 {
    color: global.$primary-color;
    margin-bottom: global.$spacing-md;
  }

  p {
    color: global.$dark-gray;
    font-size: 1.1rem;
    margin-bottom: global.$spacing-md;
  }

  .btn-primary {
    @include global.button-primary;
  }
}
